repos:
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    - id: black
      language_version: python3.6
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    - id: flake8
- repo: https://github.com/timothycrosley/isort
  rev: v4.3.20
  hooks:
    - id: isort
    - name: isort
    - entry: isort
    - require_serial: true
    - language: python
    - types: [python]

