[access]
	inheritFrom = All-Projects
[project]
	description = Python package for the simulation and estimation of generalized Roy model
[access "refs/*"]
	owner = group user/Sebastian Becker (SeBecker)
[access "refs/for/refs/*"]
	read = group user/Sebastian Becker (SeBecker)
	push = group user/Sebastian Becker (SeBecker)
	label-Code-Review = -2..+2 group user/Sebastian Becker (SeBecker)
	label-Verified = -1..+1 group user/Sebastian Becker (SeBecker)
	rebase = group user/Sebastian Becker (SeBecker)
	removeReviewer = group user/Sebastian Becker (SeBecker)
	submit = group user/Sebastian Becker (SeBecker)
[access "refs/heads/*"]
	read = group user/Sebastian Becker (SeBecker)
	create = group user/Sebastian Becker (SeBecker)
	push = +force group user/Sebastian Becker (SeBecker)
	pushMerge = group user/Sebastian Becker (SeBecker)
[access "refs/tags/*"]
	push = group user/Sebastian Becker (SeBecker)
	push = +force group user/Sebastian Becker (SeBecker)
